.container {

    /* width: 960px; จะเป็นการกำหนดความกว้างแบบตายตัวไปเลย ซึ่งไม่เป็นผลดีต่อการทำ Responsive Web Design */
    /* width: 960px; */

    /* max-width: 960px; สามารถปรับขนาดหน้าจอได้สูงสุด 960px และจะมีการปรับขนาดหน้าจอให้เราโดยอัตโนมัติ เวลาที่เรามีการลดขนาดหน้าจอลง */
    max-width: 960px;

    /* margin: 0 auto; หมายความว่า กำหนดค่า บน-ล่าง เป็น 0 และ ซ้าย-ขวา เป็นค่า auto อีกทั้งยังทำให้กล่องอยู่ตรงกึ่งกลาง */
    margin: 0 auto;

    background-color: yellow;
}