/* 15-Position-2 ตัวอย่างนี้จะกำหนด position ให้ทั้ง parent element และ child element */

/* Parent Element */
.container {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 2000px;
    background-color: yellow;

    position: relative;
}

/* Child Element */
.redBox {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 20px;
    left: 20px;
}

.blueBox {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 0;
    right: 0;
}

.orangeBox {
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: 0;
}

.greenBox {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    bottom: 0;
    right: 0;
}