/* Variable คือ การสร้างตัวแปรเพื่อเก็บค่าใน CSS */


/* Variable */
:root {
    --myBoxColor: lightgreen;
    --container-width: 700px;
}


* {
    box-sizing: border-box;
}


/* CSS Nesting */
.container {
    max-width: var(--container-width);
    margin: 0 auto;
    background-color: yellow;
    position: relative;

    .box1 {
        width: 200px;
        height: 200px;
        background-color: var(--myBoxColor);
        margin: 10px;

        p {
            color: white;
            background-color: black;
            opacity: 50%;
        }
    }
    
    .box2 {
        width: 200px;
        height: 200px;
        background-color: var(--myBoxColor);
        margin: 10px;
    }
    
    .box3 {
        width: 200px;
        height: 200px;
        background-color: var(--myBoxColor);
        margin: 10px;
    }
}